<!DOCTYPE html>
<html lang="{{site.locale}}">
{{> html-head }}

<body>
    {{> header }}

    <div id="main">
        <div class="container">
            <ul class="blog-index">
                {{#each (limit collections.blog this.pagination.end this.pagination.start)}}
                    {{#if title}}
                        <li>
                            <time datetime="{{ date }}">{{ strftime date "%d %b %y" }}</time>
                            <a href="/{{../../site.locale}}/{{ path }}/">{{ title }}</a>

                            <div class="summary">
                              {{{ summary contents ../../site.locale path }}}
                            <div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

            {{#if this.pagination}}
                <nav class="pagination">
                    {{#if this.pagination.prev}}
                        <a href="/{{../../site.locale}}/{{this.pagination.prev.path}}">&lt; Prev</a>
                    {{/if}}

                    {{#if this.pagination.next}}
                        <a href="/{{../../site.locale}}/{{this.pagination.next.path}}">Next &gt;</a>
                    {{/if}}
                </nav>
            {{/if}}
        </div>
    </div>

    {{> footer }}
</body>
</html>
